
<style>


      body {
          background-color: #24292e;
          overflow: auto;
      }


.table-container {
    width: 57%;
    border: black;

}


.table-container .delete-form .delete-form-button {
    width: 100px;
    height: 60px;
    background: #ff3e3e;
    color: white;
    /*border: 1.5px solid #ffff;*/
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    font-family: inherit;
    margin-top: 5px;
    margin-left: 10px;


    }
.add-user-form h2 {
    font-size: 2em;

    margin-left: 430px;
    font-family: "Bauhaus 93";
    color: #3e68ff;
}

.add-user-form .labels label{
    position: fixed;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-top: -20px;
    font-family: "Roboto Light";


}
.add-user-form .btnUser{
    width: 200px;
    height: 60px;
    background: #3e68ff;
    color: white;
    /*border: 1.5px solid #ffff;*/
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    font-family: inherit;
    margin-top: 20px;
    margin-left: 400px;



}



.table-container table {

    background-color: #ffffff;
    color: white;
    border-collapse: collapse;

}

.table-container th {

    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
}


.table-container td {

    font-size: 1em;
    color: white;
    margin-left: 0px;
    padding-left: 10px;


}

tr:nth-child(odd) {
    background-color: #357B97 ;
}
tr {
    background-color: #0092CC ;


}
th {
    background-color: #0092CC ;
    color: white;

}
td, th {
    border: 1px solid #030303;
}

th:first-child,
td:first-child {
    width: 6%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 7%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 9%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 23%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 12%;
}

th:nth-child(6),
td:nth-child(6) {
    width: 14%;
}

th:nth-child(7),
td:nth-child(7) {
    width: 10%;
}

</style>


